interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.fakturoid.cz/api/v3/oauth/token
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN", "token_type": "Bearer", "expires_in":
        7200}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f06fdd2205904a97d924e0264f46055"
      x-ratelimit:
      - default;r=395;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"python-fakturoid-v3-test-1"}'
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: POST
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json
  response:
    body:
      string: '{"id":26451820,"custom_id":null,"type":"customer","name":"python-fakturoid-v3-test-1","street":null,"city":null,"zip":null,"country":"CZ","has_delivery_address":false,"delivery_name":null,"delivery_street":null,"delivery_city":null,"delivery_zip":null,"delivery_country":null,"registration_no":null,"vat_no":null,"local_vat_no":null,"bank_account":null,"iban":null,"swift_bic":null,"variable_symbol":null,"due":null,"currency":null,"language":null,"private_note":null,"full_name":null,"email":null,"email_copy":null,"phone":null,"web":null,"unreliable":false,"unreliable_checked_at":null,"legal_form":null,"setting_update_from_ares":"inherit","ares_update":false,"setting_invoice_pdf_attachments":"inherit","setting_estimate_pdf_attachments":"inherit","setting_invoice_send_reminders":"inherit","suggestion_enabled":true,"custom_email_text":null,"overdue_email_text":null,"invoice_from_proforma_email_text":null,"thank_you_email_text":null,"custom_estimate_email_text":null,"webinvoice_history":null,"html_url":"https://app.fakturoid.cz/fakturcalldev/subjects/26451820","url":"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451820.json","created_at":"2025-05-11T18:08:14.505+02:00","updated_at":"2025-05-11T18:08:14.505+02:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bb220f0458b48e7fe26766cf5cd1013e"
      location:
      - https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451820.json
      x-ratelimit:
      - default;r=394;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 201
      message: Created
- request:
    body: '{"created_at":"2025-05-11T18:08:14.505000+02:00","updated_at":"2025-05-11T18:08:14.505000+02:00","id":26451820,"name":"python-fakturoid-v3-test-1","type":"customer","country":"CZ","has_delivery_address":false,"unreliable":false,"suggestion_enabled":true,"html_url":"https://app.fakturoid.cz/fakturcalldev/subjects/26451820","url":"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451820.json"}'
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      [...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json?email=test%40gmail.com&page=1
  response:
    body:
      string: '[{"id":26451820,"custom_id":null,"type":"customer","name":"python-fakturoid-v3-test-1","street":null,"city":null,"zip":null,"country":"CZ","has_delivery_address":false,"delivery_name":null,"delivery_street":n[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: DELETE
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451820.json
  response:
    body:
      string: ''
    headers:
      x-ratelimit:
      - default;r=390;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json?email=test%40gmail.com&page=1
  response:
    body:
      string: '[]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      x-ratelimit:
      - default;r=389;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 200
      message: OK
version: 1
