interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.fakturoid.cz/api/v3/oauth/token
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN", "token_type": "Bearer", "expires_in":
        7200}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"367c42b73a89c6c6260bfc80a465fb61"
      x-ratelimit:
      - default;r=380;t=57
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"python-fakturoid-v3-test-1"}'
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: POST
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json
  response:
    body:
      string: '{"id":26457933,"custom_id":null,"type":"customer","name":"python-fakturoid-v3-test-1","street":null,"city":null,"zip":null,"country":"CZ","has_delivery_address":false,"delivery_name":null,"delivery_street":null,"delivery_city":null,"delivery_zip":null,"delivery_country":null,"registration_no":null,"vat_no":null,"local_vat_no":null,"bank_account":null,"iban":null,"swift_bic":null,"variable_symbol":null,"due":null,"currency":null,"language":null,"private_note":null,"full_name":null,"email":null,"email_copy":null,"phone":null,"web":null,"unreliable":false,"unreliable_checked_at":null,"legal_form":null,"setting_update_from_ares":"inherit","ares_update":false,"setting_invoice_pdf_attachments":"inherit","setting_estimate_pdf_attachments":"inherit","setting_invoice_send_reminders":"inherit","suggestion_enabled":true,"custom_email_text":null,"overdue_email_text":null,"invoice_from_proforma_email_text":null,"thank_you_email_text":null,"custom_estimate_email_text":null,"webinvoice_history":null,"html_url":"https://app.fakturoid.cz/fakturcalldev/subjects/26457933","url":"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26457933.json","created_at":"2025-05-12T04:34:06.775+02:00","updated_at":"2025-05-12T04:34:06.775+02:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8fe09a992d69084317b97201b185d8a4"
      location:
      - https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26457933.json
      x-ratelimit:
      - default;r=379;t=57
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json?page=1
  response:
    body:
      string: '[{"id":26457933,"custom_id":null,"type":"customer","name":"python-fakturoid-v3-test-1","street":null,"city":null,"zip":null,"country":"CZ","has_delivery_address":false,"delivery_name":null,"delivery_street":null,"delivery_city":nul[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: DELETE
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26457933.json
  response:
    body:
      string: ''
    headers:
      x-ratelimit:
      - default;r=317;t=49
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: DELETE
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26457992.json
  response:
    body:
      string: ''
    headers:
      x-ratelimit:
      - default;r=258;t=41
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 204
      message: No Content
version: 1
