interactions:
- request:
    body: grant_type=client_credentials
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://app.fakturoid.cz/api/v3/oauth/token
  response:
    body:
      string: '{"access_token": "DUMMY_TOKEN", "token_type": "Bearer", "expires_in":
        7200}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"120b115a1f66a47e0a78aeaff3726327"
      x-ratelimit:
      - default;r=388;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 200
      message: OK
- request:
    body: '{"name":"python-fakturoid-v3-test-1"}'
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: POST
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects.json
  response:
    body:
      string: '{"id":26451821,"custom_id":null,"type":"customer","name":"python-fakturoid-v3-test-1","street":null,"city":null,"zip":null,"country":"CZ","has_delivery_address":false,"delivery_name":null,"delivery_street":null,"delivery_city":null,"delivery_zip":null,"delivery_country":null,"registration_no":null,"vat_no":null,"local_vat_no":null,"bank_account":null,"iban":null,"swift_bic":null,"variable_symbol":null,"due":null,"currency":null,"language":null,"private_note":null,"full_name":null,"email":null,"email_copy":null,"phone":null,"web":null,"unreliable":false,"unreliable_checked_at":null,"legal_form":null,"setting_update_from_ares":"inherit","ares_update":false,"setting_invoice_pdf_attachments":"inherit","setting_estimate_pdf_attachments":"inherit","setting_invoice_send_reminders":"inherit","suggestion_enabled":true,"custom_email_text":null,"overdue_email_text":null,"invoice_from_proforma_email_text":null,"thank_you_email_text":null,"custom_estimate_email_text":null,"webinvoice_history":null,"html_url":"https://app.fakturoid.cz/fakturcalldev/subjects/26451821","url":"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451821.json","created_at":"2025-05-11T18:08:15.159+02:00","updated_at":"2025-05-11T18:08:15.159+02:00"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ae997f3031aade1745ba937d047f6494"
      location:
      - https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451821.json
      x-ratelimit:
      - default;r=387;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 201
      message: Created
- request:
    body: '{"subject_id":26451821,"lines":[{"name":"python-fakturoid-v3-test-1","unit_price":"1"}]}'
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: POST
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices.json
  response:
    body:
      string: "{\"id\":47215313,\"custom_id\":null,\"document_type\":\"invoice\",\"proforma_followup_document\":null,\"correction_id\":null,\"number\":\"2025-0001\",\"number_format_id\":704078,\"variable_symbol\":\"20250001\",\"your_name\":\"fakturcall-dev\",\"your_street\":\"Bezru\u010Dova
        688\",\"your_city\":\"Lo\u0161tice\",\"your_zip\":\"789 83\",\"your_country\":\"CZ\",\"your_registration_no\":\"\",\"your_vat_no\":\"\",\"your_local_vat_no\":null,\"client_name\":\"python-fakturoid-v3-test-1\",\"client_street\":null,\"client_city\":null,\"client_zip\":null,\"client_country\":\"CZ\",\"client_registration_no\":null,\"client_vat_no\":null,\"client_local_vat_no\":null,\"client_has_delivery_address\":false,\"client_delivery_name\":null,\"client_delivery_street\":null,\"client_delivery_city\":null,\"client_delivery_zip\":null,\"client_delivery_country\":null,\"subject_id\":26451821,\"subject_custom_id\":null,\"generator_id\":null,\"related_id\":null,\"paypal\":false,\"gopay\":false,\"token\":\"mKJUzMFQ7g\",\"status\":\"open\",\"order_number\":null,\"issued_on\":\"2025-05-11\",\"taxable_fulfillment_due\":\"2025-05-11\",\"due\":14,\"due_on\":\"2025-05-25\",\"sent_at\":null,\"paid_on\":null,\"reminder_sent_at\":null,\"cancelled_at\":null,\"uncollectible_at\":null,\"locked_at\":null,\"webinvoice_seen_on\":null,\"note\":null,\"footer_note\":\"\",\"private_note\":null,\"tags\":[],\"bank_account\":\"123456/0000\",\"iban\":\"CZ2220100000002401457211\",\"swift_bic\":\"\",\"iban_visibility\":\"automatically\",\"show_already_paid_note_in_pdf\":false,\"payment_method\":\"bank\",\"custom_payment_method\":null,\"hide_bank_account\":false,\"currency\":\"CZK\",\"exchange_rate\":\"1.0\",\"language\":\"cz\",\"transferred_tax_liability\":false,\"supply_code\":null,\"oss\":\"disabled\",\"vat_price_mode\":\"without_vat\",\"subtotal\":\"1.0\",\"total\":\"1.0\",\"native_subtotal\":\"1.0\",\"native_total\":\"1.0\",\"remaining_amount\":\"1.0\",\"remaining_native_amount\":\"1.0\",\"eet_records\":[],\"lines\":[{\"id\":113960854,\"name\":\"python-fakturoid-v3-test-1\",\"quantity\":\"1.0\",\"unit_name\":\"\",\"unit_price\":\"1.0\",\"vat_rate\":0,\"unit_price_without_vat\":\"1.0\",\"unit_price_with_vat\":\"1.0\",\"total_price_without_vat\":\"1.0\",\"total_vat\":\"0.0\",\"native_total_price_without_vat\":\"1.0\",\"native_total_vat\":0,\"inventory\":null}],\"vat_rates_summary\":[{\"vat_rate\":0,\"base\":\"1.0\",\"vat\":\"0.0\",\"currency\":\"CZK\",\"native_base\":\"1.0\",\"native_vat\":\"0.0\",\"native_currency\":\"CZK\"}],\"paid_advances\":[],\"payments\":[],\"attachments\":[],\"html_url\":\"https://app.fakturoid.cz/fakturcalldev/invoices/47215313\",\"public_html_url\":\"https://app.fakturoid.cz/fakturcalldev/p/mKJUzMFQ7g/2025-0001\",\"url\":\"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices/47215313.json\",\"pdf_url\":\"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices/47215313/download.pdf\",\"subject_url\":\"https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451821.json\",\"created_at\":\"2025-05-11T18:08:15.253+02:00\",\"updated_at\":\"2025-05-11T18:08:15.298+02:00\"}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"525b4be9f73de280f872486736d8fda1"
      location:
      - https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices/47215313.json
      x-ratelimit:
      - default;r=386;t=43
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices/47215313.json
  response:
    body:
      string: "{\"id\":47215313,\"custom_id\":null,\"document_type\":\"invoice\",\"proforma_followup_document\":null,\"correction_id\":null,\"number\":\"2025-0001\",\"number_format_id\":704078,\"variable_symbol\":\"20250001\",\"your_name\":\"fa[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/invoices.json?number=2025-0001&page=1
  response:
    body:
      string: "[{\"id\":47215313,\"custom_id\":null,\"document_type\":\"invoice\",\"proforma_followup_document\":null,\"correction_id\":null,\"number\":\"2025-0001\",\"number_format_id\":704078,\"variable_symbol\":\"20250001\",\"[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: DELETE
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451821.json
  response:
    body:
      string: ''
    headers:
      x-ratelimit:
      - default;r=380;t=42
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      Authorization:
      - Basic DUMMY_VALUE
      Content-Type:
      - application/json
    method: GET
    uri: https://app.fakturoid.cz/api/v3/accounts/fakturcalldev/subjects/26451821.json
  response:
    body:
      string: '{"error":"resource_not_found"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit:
      - default;r=379;t=42
      x-ratelimit-policy:
      - default;q=400;w=60
    status:
      code: 404
      message: Not Found
version: 1
